<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @task.ordering %>
</p>

<p>
  <strong>Todo on:</strong>
  <%= @task.todo_on %>
</p>

<p>
  <strong>Done at:</strong>
  <%= @task.done_at %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
